body{
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    background-color: rgb(177, 174, 167);
}
.navbar{
    max-width: 100%;
    display: flex;
    padding: 2vh 2% 2vh 1%;
    background-color: white;
    box-sizing: border-box;
}
.navbar-logo{
    width: 50%;
    float: left;
    font-size: 1.35rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navbar-login{
    width: 50%;
    float: right;
    text-align: right;
}
.navbar-login span{
    width: 15%;
    padding: 1.3vh 3% 1.3vh 3%;
    border-radius: 0.5rem;
    height: 3vh;
    background-color: blue;
    color: white;
}
.home-text{
    margin: 2vh 10% 2vh 10%;
    padding: 0 1.5% 0 1.5%;
    max-width: 100%;
    text-align: center;
    font-size: 6.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
}
.search {
    display: flex;
    max-width:100%;
    margin:2vh 5% 2vh 5%;
    justify-content: center;
    box-sizing: border-box;
}
.search .input-query{
    width: 35vw;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    height: 6.5vh;
    border-radius: 0.3rem;
    font-size: 1rem;
}
.submit-query{
    height: 6.5vh;
    font-size: 1rem;
    padding: 0.5vh 1.5vw 0.5vh 1.5vw;
    background-color: blue;
    border-radius: 0.25rem;
    border: none;
}
.possible-books{
    margin: 0 5% 0 5%;
    text-align: center;
}
.possible-books span{
    background-color: aliceblue;
    border: 1rem;
    border-radius: 0.5rem;
    max-width: 100%;
    box-sizing: border-box;
    padding: 1.25vh 1.5% 1.25vh 1.5%;
}
.possible-books button{
    height: 5.5vh;
    font-size: 1rem;
    padding: 0.5vh 1.25vw 0.5vh 1.25vw;
    background-color: blue;
    border-radius: 0.25rem;
    border: none;
    margin-left: 0.5%;
}
.section-two{
    margin: 3vh 12.5% 3vh 12.5%;
    max-width: 100%;
    display: flex;
    box-sizing: border-box;
}
.section-two .inner-elements{
    width: 33.3%;
    margin: 0 1.5% 0 1.5%;
    background-color: aliceblue;
    padding-bottom: 0.5vh;
    border-radius: 0 0 0.5rem 0.5rem;
}
.section-two .inner-elements div{
    text-align: center;
    width: 100%;
    padding: 1vh 2% 1vh 2%;
    box-sizing: border-box;
}
.section-two .inner-elements div div{
    margin-top: 0.5vh;
}
/* .section-two .inner-elements div button{

} */
.section-two .inner-elements img{
    width: 100%;
    height: 30vh;
    transition: 0.5s;
 }
 .section-two .inner-elements img:hover{
     transform: scale(1.025);
     z-index: 2;
 }
 .all-recommendations{
     display: flex;
     margin: 1vh 5% 1vh 5%;
     max-width: 100%;
     box-sizing: border-box;
 }
 .all-recommendations .recommended-book{
     width: 20%;
     margin: 0 0.25% 0 0.25%;
     overflow: hidden;
     text-align: center;
 }
 .all-recommendations .recommended-book img{
     width: 100%;
     height: 25vh;
 }
 .all-recommendations .recommended-book div{
     width: 100%;
     justify-content: center;
     margin-top: 1vh;
 }
 .recommended-book button{
    font-size: 1rem;
    padding: 1.5vh 1.25vw 1.5vh 1.25vw;
    background-color: blue;
    border-radius: 0.25rem;
    border: none;
 }

/* my space styling */

.all-myspace-contents{
    margin: 1vh 32% 1vh 32%;
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
}
.create-update-form{
    width: 100%;
    box-sizing: border-box;
}
.todo-form-core-name{
    width: 100%;
    height: 6vh;
    padding: 1.5%;
    font-size: 1rem;
}
.todo-form-core-description{
    width: 100%;
    height: 20vh;
    padding: 1.5%;
    font-size:  1rem;
}
.create-update-form div{
    width: 100%;
    display: flex;
}
.create-update-form div div{
    width: 50%;
}
.todo-form-core-time{
    width: 100%;
    height: 6vh;
    padding: 1.5%;
    font-size:  1rem;
}
.my-books{
    background-color: aliceblue;
    width: 100%;
    padding: 1vh 2% 1vh 2%;
    box-sizing: border-box;
    border-radius: 0.6rem;
}
.my-books .book-name{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
}
.my-books .message{
    margin: 2vh 0 2vh 0;
}
.my-books .time-components{
    width: 100%;
    display: flex;
    box-sizing: border-box;
}
.my-books .time-components div{
    width: 33.3%;
    padding: 0 1% 0 1%;
}
.my-books .advance-components{
    width: 100%;
    display: flex;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
}
.my-books .advance-components div{
    width: 50%;
}

/* sigin page*/
.sigin-page{
    margin: 5vh 35% 0 35%;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.sigin-page .p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    margin-bottom: -0.5vh;
}
.sigin-page img{
    width: 60%;
    float: left;
    height: 7vh;
    margin-bottom: -1vh;
}
.sigin-page div{
    width: 100%;
    margin: 1vh 0 1vh 0;
    display: block;
}
.sigin-page .login-inputs{
    width: 100%;
    height: 6vh;
    padding: 1%;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
}
.canvas-space{
    margin: 0 15% 3vh 10%;
    max-width: 100%;
    box-sizing: border-box;
    max-height: 60vh;
}
.canvas-space .canvas{
    width:100%;
    max-height: 60vh;
}
.danger{
    background-color: rgb(233, 115, 115);
    text-align: center;
    max-width: 100%;
    margin: 0.5vh 0 0.5vh 0;
    padding: 1.85vh 0 1.85vh 0;
    opacity: 0.75;
}

.success{
    background-color: rgb(49, 230, 109);
    text-align: center;
    max-width: 100%;
    margin: 0.5vh 0 0.5vh 0;
    padding: 1.85vh 0 1.85vh 0;
    opacity: 0.75;
}
h3 {
    text-align: center;
}
footer{
    width: 100%;
    height: 7vh;
    text-align: center;
    background-color: white;
    padding-top: 1.5vh;
    box-sizing: border-box;
}

@media(max-width: 700px) {
    
    .home-text{
        font-size: 3.5rem;
        margin: 2vh 5% 2vh 5%;
    }
    .search{
        margin: 2vh 2% 2vh 2%;
    }
    .search .input-query{
        width: 70vw;
    }
    .all-recommendations{
        display: block;
        margin: 0 15% 0 15%;
    }
    .all-recommendations .recommended-book{
        width: 100%;
        margin: 2vh 0 2vh 0;
    }
    .section-two{
        display: block;
    }
    .section-two .inner-elements{
        width: 100%;
        margin: 2vh 0 2vh 0;
    }
    .recommended-book button{
        padding: 2vh 5vh 2vh 5vh;
    }
    .canvas-space .canvas{
        max-height: 90vh;
    }
    .sigin-page{
        margin: 5vh 3% 0 3%;
    }
    .all-myspace-contents{
        margin: 1vh 5% 1vh 5%;
        font-size: 1rem;
    }
}

